<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Define your beans here -->
	<!-- Define the dependency -->
	<bean id="myFortune" class="com.wiechert.springdemo.HappyFortuneService"></bean>

	<bean id="myCoach" class="com.wiechert.springdemo.TrackCoach">

		<!-- set up the constructor injection -->
		<constructor-arg ref="myFortune" />
	</bean>

	<bean id="myCricketCoach" class="com.wiechert.springdemo.CricketCoach">
		<!-- set up setter injection -->
		<property name="fortuneService" ref="myFortune" />
		<property name="emailAddress" value="theBestCoach@luv2code.com" />
		<property name="team" value="Sunrise Hyderabad"></property>
	</bean>
</beans>
